
<form action="/square_root_results" method = "post">
    
  <div>
    <label for="user_number">
      Enter a number
    </label>

    <input type="user_number" name="user_number" id="user_number" placeholder="What number do you want to take the square root of?">
  </div>

  <button>
    Calculate square root
  </button>
</form>
